name: Go

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o ./release/test-server .

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_ID }}
          password: ${{ secrets.DOCKER_PW }}

      - name: Docker-image
        run: |
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          docker build -t tuzhigen/devops:$git_hash .
          docker push tuzhigen/devops:$git_hash

      - name: Update-helm
        run: |
          mkdir temp
          cd temp
          git clone https://baiyecha:${ACCESS_TOKEN}@github.com/baiyecha/devops-helm.git
          git_hash=$(git rev-parse --short "$GITHUB_SHA")
          cd devops-helm
          sed -i "s/tag: \".*\"/tag: \"$git_hash\"/g" ./values.yaml
          git config --global user.email "zhaoxiaolin326@gmaiol.com"
          git config --global user.name "tuzhigen"
          git add .
          git commit -m 'release: update image tag'
          git push origin master
